$color-secondary: #454545;
$color-accent: #2196F3;

$landscape: 'only screen and (orientation: landscape)';
$portrait: 'only screen and (orientation: portrait)';

@font-face {
  font-family: Bebas Neue;
  src: url('fonts/bebas-neue.otf');
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/open-sans-regular.ttf');
}

body {
  background: url('res/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  @media #{$landscape} { width: 425px; }
  @media #{$portrait} { width: 65%; }

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title {
  max-width: 100%;
}

p {
  @media #{$landscape} { font-size: 1.05em; }
  @media #{$portrait} { font-size: .95em; }

  font-family: Open Sans;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 3px;
}

ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.ref-instagram {
  @media #{$landscape} { font-size: 1.4em; }
  @media #{$portrait} { font-size: 3.75vw; }

  font-family: Bebas Neue;
  font-size: 1.4em;
  text-decoration: none;
  color: $color-accent;

  &:visited { color: $color-accent; }
  &:hover { font-style: italic; }
}

footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.footer-text {
  font-family: Bebas Neue;
  font-size: 1.4em;
  color: $color-secondary;
}

footer {
  .ref-instagram {
    font-size: 1em;
  }
}
